[Unit]
Description=Temperature Logger Script
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/path/to/your/script
ExecStart=/opt/templogger-venv/bin/python /usr/local/bin/templogger.py
