[Unit]
Description=Temperature Logger Script
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/opt/templogger
ExecStart=/opt/templogger-venv/bin/python3 /usr/local/bin/templogger.py
